<!doctype html>

<html>
<head>
  <title>UCSD CSE Class App</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ClassApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/minor">My Minor</a></li>
        <li class="active"><a href="/courses">Courses</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
      <h1><center>All CSE courses at UCSD</center></h1>
      <!--<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p> -->
      <!--<button id="testjs" class="btn btn-primary btn-lg">Test Javascript</button>-->
    </div>

<div class="list-group-item active">CSE Courses</div>
  <ul class="list-group">
    {{#each courses}}
    <li class="list-group-item"><a href = "/courses/{{courseID}}">{{courseID}}</a></li>
    {{/each}}
  </ul>
</div>


<!-- <div class="list-group-item active">Lower Division CSE</div>
  <ul class="list-group">
     <li class="list-group-item"><a href = "classOutline.html">CSE3</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE4GS</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE6GS</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE5A</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE7</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE8A</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE8B</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE11</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE12</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE15L</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE20</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE21</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE30</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE80</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE86</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE87</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE90</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE91</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE99</a></li>

     <div class="list-group-item active">Upper Division CSE</div>

     <li class="list-group-item"><a href = "classOutline.html">CSE100</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE101</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE103</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE105</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE107</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE110</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE112</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE118</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE120</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE121</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE123</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE124</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE125</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE127</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE130</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE131</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE132A</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE132B</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE134B</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE135</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE140</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE140L</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE141</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE141L</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE143</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE144</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE145</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE148</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE150</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE151</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE152</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE153</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE160</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE164</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE165</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE166</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE167</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE168</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE169</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE170</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE181</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE182</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE184</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE190</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE191</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE192</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE195</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE197</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE198</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE199</a></li>
     <li class="list-group-item"><a href = "classOutline.html">CSE199H</a></li>

  </ul>
</div> -->


    

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>
</body>
</html>
