<!doctype html>

<html>
<head>
  <title>UCSD CSE Class App</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ClassApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/minor">My Minor</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
      <h1><center>My Minor!</center></h1>
      <!--<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p> -->
      <!--<button id="testjs" class="btn btn-primary btn-lg">Test Javascript</button>-->
    </div>

    <div>
      <h3><center>So you wanna be a CSE minor huh?!</center></h3>
      <h4><center>Well you've come to the right place!</center></h4>
      <p><center>This page is dedicated to facilitating the process of getting you through
        the Computer Science and Engineering minor at UCSD, informing you as to what you can
        apply each course you take to the real world, or simply to provide some encouragement
        as to why you <i>should</i> pursue a CS minor!</center></p>
    </div>

    <h3><center>The Ultimate Guide to a UCSD CSE Minor!<center></h3>

    <div>
      <p><strong>Step one (1 hour):</strong> Thoroughly read the official UCSD CSE Minor webpage <a href = "http://www.cse.ucsd.edu/node/243" target="_blank">here</a>! These are the official specs and if there are any descrepancies between this page and theirs make sure to follow their rules!<p>
    </div>

    <div>
      <p><strong>Step two (1-2 hours):</strong> If you did step one correctly, you know now that you need
        to pick 3 upper division electives! Click <a href = "http://www.cse.ucsd.edu/node/42" target="_blank">
        here</a> to bring up the CSE course offerings for each year, and click this year to see what courses are available. 
        Then click <a href = "/courses" target="_blank">here</a> to bring up ClassApp's course list and put these windows
        side by side. From UCSD's page find an offered course, then from out ClassApped page select the course to see
        what others have to say about it! Once you've found your 3 classes, declare your CSE minor by loggin in to 
        <a href = "https://students.ucsd.edu/" target="_blank">tritonlink</a>! <strong>Note:</strong> These classes
        do not have to be final! If you change your mind and want to take different classes, you can change that later!<p>
    </div>

    <div>
      <p><strong>Step three (5 minutes/optional):</strong> Join the UCSD CSE Facebook group
       <a href = "https://www.facebook.com/groups/332645383455781/?fref=nf" target="_blank">here</a>!<p>
    </div>
    

    <div>
      <p><strong>Step four (6-9 quarters):</strong> Congratulations! If you got to this step it means that you 
        have made one of the most important decisions of your life! This is now the longest step. Keep in mind
         this time estimate is considering that you would only be taking one CS course per quarter. Feel free 
         to go as fast as you like, but remember there's an order to the core courses because of their 
         pre-requisites. This step will be full of all-nighters and plenty of Redbull! Feel free to 
         cry every once in a while at 2am when your program isn't working.<p>
    </div>

    <div>
      <p><strong>Step five:</strong> ????<p>
    </div>

    <div>
      <p><strong>Step six:</strong> PROFIT!!!<p>
    </div>



  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>
</body>
</html>
